<div class="second-view">
  <div class="frame-2">
    <div class="rectangle-5"></div>
    <div class="line-1"></div>
    <div class="unidad-educativa-t-cnico-salesiano">
      UNIDAD EDUCATIVA TÉCNICO SALESIANO
    </div>
  </div>
  <br/>
  <div class="frame-3">
    <div class="rectangle-6"></div>
    <div class="rectangle-9">
      <svg
      class="polygon-2"
      width="30"
      height="32"
      viewBox="0 0 30 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.225159 15.7104L21.9752 2.28703L21.9752 29.1338L0.225159 15.7104Z"
        fill="white"
      />
    </svg>
    </div>

    <div class="rectangle-8">
      <h2>Miercoles</h2>
      <h5>25/10/2023</h5>

    </div>


    <div class="rectangle-10">
      <svg
      class="polygon-1"
      width="30"
      height="32"
      viewBox="0 0 30 32"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M29.2236 15.4983L7.67226 29.2384L7.27959 2.39451L29.2236 15.4983Z"
        fill="white"
      />
    </svg>
    </div>
    
   

    
  </div>
  <div class="line-2"></div>
  <div class="frame-5">
    <div class="rectangle-15">

      <div class="rectangle-16">
        <div class="matem-ticas">Matemáticas</div>
        <div class="_7-00-7-40">7:00-7:40</div>
      </div>
      <br/>
      <div class="rectangle-19">
        <div class="ingl-s2">Inglés</div>
        <div class="_9-00-9-40">9:00-9:40</div>
      </div>
      <br/>
      <div class="rectangle-18">
        <div class="ingl-s">Inglés</div>
        <div class="_8-20-9-00">8:20-9:00</div>
      </div>
      <br/>
      <div class="rectangle-17">
        <div class="matem-ticas2">Matemáticas</div>
        <div class="_7-40-8-20">7:40-8:20</div>
      </div>
      <br/>
      
      
      
      
      
      
     

    </div>
    
  </div>
</div>
