<div class="message-view">
  <div class="frame-2">
    <div class="rectangle-5"></div>
    <div class="line-1"></div>
    <div class="unidad-educativa-t-cnico-salesiano">
      UNIDAD EDUCATIVA TÉCNICO SALESIANO
    </div>
  </div>
  <div class="frame-3">
    
    <div class="rectangle-9"><div class="recibir">Recibir</div></div>
    <div class="rectangle-10"><div class="mensajes">Mensajes</div></div>
    <div class="rectangle-8"><div class="redactar">Redactar</div></div>
    
    
    
  </div>
  <div class="line-2"></div>
  <div class="frame-6">
    <div class="rectangle-15"></div>
    <div class="aun-no-se-han-recibido-mensajes">
      Aun no se han recibido mensajes
    </div>
  </div>
</div>
